@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'avSTDLT';
    src: url(font/AvenirLTStd-Light.eot) format('eot'),
    url(font/AvenirLTStd-Light.woff) format('woff'),
    url(font/AvenirLTStd-Light.woff2) format('woff2'),
    url(font/AvenirLTStd-Light.otf) format('opentype');
}
@font-face {
    font-family: 'avHV';
    src: url(font/Avenir-Heavy.eot) format('eot'),
    url(font/Avenir-Heavy.woff) format('woff'),
    url(font/Avenir-Heavy.woff2) format('woff2'),
    url(font/Avenir-Heavy.otf) format('opentype');
}
@font-face {
    font-family: 'avLT';
    src: url(font/Avenir-Light.eot) format('eot'),
    url(font/Avenir-Light.woff) format('woff'),
    url(font/Avenir-Light.woff2) format('woff2'),
    url(font/Avenir-Light.otf) format('opentype');
}
@font-face {
    font-family: 'avMD';
    src: url(font/Avenir-Medium.eot) format('eot'),
    url(font/Avenir-Medium.woff) format('woff'),
    url(font/Avenir-Medium.woff2) format('woff2'),
    url(font/Avenir-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'nsEB';
    src: url(NanumSquareB.eot) format('eot'),
    url(font/NanumSquareB.woff) format('woff'),
    url(font/NanumSquareB.woff2) format('woff2'),
    url(font/NanumSquareB.otf) format('opentype');
}
@font-face {
    font-family: 'nsB';
    src: url(NanumSquareEB.eot) format('eot'),
    url(font/NanumSquareEB.woff) format('woff'),
    url(font/NanumSquareEB.woff2) format('woff2'),
    url(font/NanumSquareEB.otf) format('opentype');
}
@font-face {
    font-family: 'nsL';
    src: url(NanumSquareL.eot) format('eot'),
    url(font/NanumSquareL.woff) format('woff'),
    url(font/NanumSquareL.woff2) format('woff2'),
    url(font/NanumSquareL.otf) format('opentype');
}
@font-face {
    font-family: 'nsR';
    src: url(NanumSquareR.eot) format('eot'),
    url(font/NanumSquareR.woff) format('woff'),
    url(font/NanumSquareR.woff2) format('woff2');
}